<div class="row">
  <div class="col-sm-8 col-offset-2">
    <%= form_for @trivia_session, url: trivia_trivia_sessions_path(@trivia), method: :post do |f| %>
      <h3>
        <%= @trivia.topic.name %>
      </h3>
      <h3>
        <%= "Title: #{@trivia.title}" %>
      </h3>
      <h3>
        <%= "Description: #{@trivia.description}" %>
      </h3>

      <ol>
        <% @trivia.questions.each do |question| %>
          <li>
            <%= question.description %>
            <% question.answers.each do |answer|%>
              <%= answer.description %>
            <% end %>
          </li>
        <% end %>
      </ol>

      <div>
        <%= f.submit "Submit" %>
      </div>

    <% end %>
  </div>
</div>
