<div class="row">
  <div class="col-sm-10 col-offset-1">
    <%= form_for @trivia_session, url: trivia_trivia_sessions_path(@trivia), method: :post do |f| %>
      <h3><%= @trivia.topic.name %></h3>

      <h4><%= "Title: #{@trivia.title}" %></h4>

      <h4><%= "Description: #{@trivia.description}" %></h4>

      <ol>
        <% @trivia.questions.each do |question| %>
          <li>
            <%= question.description %> <br>
              <% question.answers.each do |answer| %>
              <div class="radio">
                <label>
                  <%= radio_button_tag "trivia_session[question][#{question.id}][answer_id]", answer.id %>
                  <%= answer.description %> <br>
                </label>
              </div>
              <% end %>
            <br>
          </li>
        <% end %>
      </ol>
      <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
      <% if current_user.id == @trivia.author_id %>
        <%= link_to "Edit", edit_topic_trivia_path(@topic, @trivia), class: "btn btn-primary btn-sm" %>
        <%= link_to "Delete", topic_trivia_path(@topic, @trivia), method: :delete, class: "btn btn-primary btn-sm" %>
      <% end %>
    <% end %>
  </div>
</div>
