<div class="row">
  <div class="col-sm-8 col-offset-2">
    <%= form_for @trivia_session, url: trivia_trivia_sessions_path(@trivia), method: :post do |f| %>
      <h3>
        <%= @trivia.topic.name %>
      </h3>
      <h3>
        <%= "Title: #{@trivia.title}" %>
      </h3>
      <h3>
        <%= "Description: #{@trivia.description}" %>
      </h3>

      <ol>
        <% @trivia.questions.each do |question| %>
          <li>
            <%= question.description %> <br>
              <% question.answers.each do |answer| %>
              <div class="radio">
                <label>
                  <%= radio_button_tag "trivia_session[question][#{question.id}][answer_id]", answer.id %>
                  <%= answer.description %> <br>
                </label>
              </div>
              <% end %>
            <br>
          </li>
        <% end %>
      </ol>

      <div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>

    <% end %>

    <% if current_user.id == @trivia.author_id %>
      <%= link_to "Edit Trivia", edit_topic_trivia_path(@topic, @trivia), class: "btn btn-default btn-sm" %>
      <%= link_to "Delete Trivia", topic_trivia_path(@topic, @trivia), method: :delete, class: "btn btn-default btn-sm" %>
  <% end %>
  </div>
</div>
