<div class="col-sm-8 col-sm-offset-2">
  <h2>Welcome <%= current_user.name%></h2>
  <h3>Played Trivias:</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <% @trivia_sessions.each do |trivia_session| %>
    <tr>
        <td>
          <%= trivia_session.trivia.title %>
        </td>
        <td><%= trivia_session.score %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="col-sm-2">
  <%= link_to "Logout", destroy_user_session_path, method: :delete %> <br>
  <%= link_to "Play Trivia", topics_url %><br>
  <%= link_to "Add a new Trivia", topics_path %><br>
  <%= link_to "My Created Trivias", "#" %> <br>
  <%= link_to "Leaderboard", "#"%>
</div>
