<div class="col-sm-10 col-sm-offset-1">
  <div class="trivia-zone-home">
    <h2>Welcome <%= current_user.name.capitalize %>!</h2>

    <% if @searched_string %>
      <h3 class="text-center">Search results for: <mark><%= @searched_string %></mark></h3>
      <ul class="list-unstyled text-center search">
        <% @trivia.each do |trivia| %>
          <li><%= link_to trivia.title, topic_trivias_path(trivia.topic) %></li>
        <% end %>
      </ul>

    <% end %>

    <h3>Played Trivias:</h3>
    <% if @trivia_sessions.present? %>
      <table class="table table-bordered table-hover">
        <tr id="table-header">
          <th>Name</th>
          <th>Score</th>
          <th>Delete Played Trivia</th>
        </tr>
        <% @trivia_sessions.each do |trivia_session| %>
          <tr>
            <td>
              <%= trivia_session.trivia.title %>
            </td>
            <td><%= trivia_session.score %></td>
            <td><%= link_to "Delete", trivia_trivia_session_path(trivia_session.trivia, trivia_session), method: :delete %></td>
          </tr>
        <% end %>
      </table>

    <% else %>
      <p>You haven't played any Trivia yet!
        <%= link_to "Start playing now", topics_url %></p>
    <% end %>

    <%= link_to "Add a new Trivia", new_topic_path, class: "btn btn-primary btn-sm" %><br>
  </div>
</div>

