<div class="col-sm-8 col-sm-offset-4">
  <h2>Played Trivias:</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <tr>
      <% @trivias.each do |trivia| %>
        <td><%= trivia.title %></td>
        <td><%= trivia.score %></td>
      <% end %>
    </tr>
  </table>

  <%= link_to "Play Trivia", topics_url %>
  <%= link_to "Create a Trivia", new_topic_trivia(@topic) %>
  <%= link_to "My Created Trivias", "#" %>
  <%= link_to "Leaderboard", "#"%>
</div>
