<div class="row">
  <div class="col-sm-8 col-offset-2">
    <div>
      <h2>Play Trivia:</h2>
      <% if @trivias.present? %>
        <ul class="list-unstyled">
          <% @trivias.each do |trivia| %>
            <li><%= link_to trivia.title, new_trivia_trivia_session_path(trivia) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This topic has no trivia. Be the first one to add a trivia!</p>
      <% end %>
      <h3>My Created Trivias:</h3>
      <% if @authored_trivias.present? %>

        <ul class="list-unstyled">
          <% @authored_trivias.each do |authored_trivia| %>
            <li>
              <span>
                <%= link_to authored_trivia.title, new_trivia_trivia_session_path(authored_trivia) %>
              </span>
              <span class="pull-right">
                <%= link_to "Edit Trivia", edit_topic_trivia_path(authored_trivia.topic, authored_trivia)%>
                <%= link_to "Delete Trivia", topic_trivia_path(authored_trivia.topic, authored_trivia), method: :delete %>
              </span>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No Trivias to display. Add some new Trivias for this topic!</p>
      <% end %>
    </div>
  </div>

  <div class="col-sm-8 col-offset-2">
    <%= link_to "Add Trivia", new_topic_trivia_path(@topic), class: "btn btn-primary" %>
  </div>
</div>
