<div class="row">
  <div class="col-sm-10 col-offset-sm-1">
    <div>
      <h3>Play Trivia:</h3>
      <% if @trivias.present? %>
        <ul class="list-unstyled trivia-header">
          <% @trivias.each do |trivia| %>
            <li class="trivia-display"><%= link_to trivia.title, new_trivia_trivia_session_path(trivia) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This topic has no trivia. Be the first one to add a trivia!</p>
      <% end %>


      <h4>My Created Trivias:</h4>
      <% if @authored_trivias.present? %>

        <ul class="list-unstyled trivia-header">
          <% @authored_trivias.each do |authored_trivia| %>
            <li class="trivia-display">
                <%= link_to authored_trivia.title, new_trivia_trivia_session_path(authored_trivia) %>
              <div class="pull-right">
                <span class="trivia-link">
                  <%= link_to "Edit Trivia", edit_topic_trivia_path(authored_trivia.topic, authored_trivia)%>
                </span>
                <span class="trivia-link">
                  <%= link_to "Delete Trivia", topic_trivia_path(authored_trivia.topic, authored_trivia), method: :delete%>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No Trivias to display. Add some new Trivias for this topic!</p>
      <% end %>
    </div>
  </div>

  <div class="col-sm-10 col-offset-1">
    <div>
      <%= link_to "Add Trivia", new_topic_trivia_path(@topic), class: "btn btn-primary" %>
    </div>
      <%= link_to "Back", topics_path, class: "pull-right" %>
  </div>
</div>
