<div class="row">
  <div class="col-sm-8 col-offset-2">
    <h2>Topic: <%= @topic.name  %></h2>
    <h3>Trivia: <%= @trivia.title  %></h3>
    <h3>Description: <%= @trivia.description %></h3>
    <%= form_for @trivia, url: result_topic_trivia_path(@topic) , method: :post do |f| %>
      <div>
        <% @questions.each do |question| %>
          <ul>
            <li>
              <%= question.description + "?"%>
              <div>
                <% question.answers.each do |answer| %>
                  <div>
                    <%= f.radio_button :description, answer.description %>
                    <%= answer.description %>
                  </div>
                <% end %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>

      <div>
        <%= f.submit "Submit" %>
      </div>

    <% end %>
  </div>
</div>
