<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h2>Welcome to Trivia Zone</h2>

    <div class="user-form-container">
      <div class="form-border">
        <h3>Log in</h3>
        <br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field form-group">
            <%= f.label :email, class: "control-label" %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password, class: "control-label" %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-default" %>
          </div>
        <% end %>
        <h5>
          <%= render "devise/shared/links" %>
        </h5>
      </div>
    </div>

  </div>
</div>
